.title-block{
	font-size: 42px;
	text-transform: uppercase;
	font-weight: 700;
	// text-align: center;
	color: #000;	
	@media (min-width: 768px) {
		font-size: 30px;
	}
} 
.button{
	font-size: 36px;
    padding: 7px 13px;
	font-weight: 900;
	text-align: right; 
	text-transform: uppercase;
	color:$white;
	background: linear-gradient(#fe0018, #bf021d);
	line-height: 52px;
	transition: 0.3s;
	border-radius: 7px;
	width:100%;
	margin: auto;
	display:block; 
	max-width:330px;
	border: none;
	line-height: 1.1;
	&:hover{
		text-decoration: none;
		background: linear-gradient( #bf021d, #fe0018);
		color: $white;
	}
}
.replace-block{
	@media (min-width: 768px) {
		display:flex;
		flex-direction: column-reverse; 
	}
}

.container{
	@media (min-width: 768px) {
		padding-top: 10px;
	}
}

.intro{
	margin-bottom: 5px;
	position: relative;
	@media (max-width: 768px) {
		margin-left: -10px;
		margin-right: -10px;
	}
	@media (min-width: 768px) {
		border-radius:15px;
		overflow: hidden;
		margin-bottom: 10px;
	}
	h1,
	h2{
		background: $grey;
		margin: 0;
		color: $white;
		text-transform: uppercase;
	}
	h1{
		font-size: 25px;
		line-height: 1;
		padding: 11px 15px;
		@media (max-width: 768px) {
			position: absolute;
			bottom:0;
			z-index: 9;
			width: 100%;
		}
		@media (min-width: 768px) {
			font-size: 48px;
			line-height: 34px;
			font-weight: 900;
			padding: 23px 25px;
		}
	}
	h2{
		padding: 0 25px;
		font-size: 26px;
		line-height: 44px;
		@media (max-width: 768px) {
			display: none;
		}
	}
	.intro-photo{
		background-image: url('../images/intro.png');
		background-size: cover;
		background-position: 50% 50%;
		height: 185px;
		position: relative;
		@media (min-width: 768px) {
			height: 275px;
		}
		.logo{
			position: absolute;
			top: 15px;
			transform: translate(-60px, 0);
			right: 6.5%;
			@media (min-width: 768px) {
				right: 19.5%;
			}
			img{
				@media (max-width: 768px) {
					height: 80px;
				}
			}
		}
	}
}

.visa-form-block{
	@media (max-width: 768px) {
		padding: 0 5px;
	}
	@media (min-width: 768px) {
		float: right;
	}
}
.padding-right{
	@media (min-width: 768px) {
		padding-right: 0;
	}
}
.get-visa{
	border: 1px solid #000;
	background: $grayligten;
	border-radius:15px;
	overflow:hidden;
	max-width: 350px;
	margin: auto;
	.form-title{
		background: $red;
		text-align: center;
		padding: 35px 5px 10px;	
		position: relative;
		@media (max-width: 768px) {
			padding: 10px 5px 3px;
		}
		&:after{
			content: '';
			display: inline-block;
			position: absolute;
			top:100%;
			margin: -1px auto 0;
			left: 0;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 20px 30px 0 30px;
			border-color: $red transparent transparent transparent;
			@media (min-width: 768px) {
				border-width: 20px 45px 0 45px;
			}
		}	
		h2{
			color: $white;
			font-size: 41px;
			margin: 0;
			line-height: 1;
			@media (max-width: 768px) {
				font-size: 36px;
				font-weight: 900;
				letter-spacing: -1px;
			}
		}
		p{
			font-weight: 600;
			font-size: 30px;
			color: $white;
			line-height: 1.1;
			margin: 7px 0; 
			@media (min-width: 768px) {
				font-size: 36px
			}
		}
	}
	form{
		padding: 23px 16px 12px;
		@media (max-width: 768px) {
			padding-top: 30px;
		}
		>input:not([type='checkbox']), 
		select{
			height: 32px;
			border-radius: 4px;
			background: #fff;
			border: 1px solid #959595;
			padding: 0 10px;
			display: block;
			width: 100%;
			margin-bottom: 5px;
			font-size: 18px;
		}
		input[type='checkbox']{
			margin: 0 0 0 7px;
		}
		label{
			font-weight: 400;
			font-size: 18px; 
			line-height: 1;
			margin: 0;
			color:#8f8f8f;
		}
		.input-group-btn{ 
			vertical-align: top;
			.btn{
				border-radius:  0 4px  4px  0; 
			}
		}
		.dropdown-toggle{
			margin: 0; 
			height: 32px;
			border-color: #959595;
			border-left: none;
			&:hover{
				background: #fff; 
			}
			.caret{
				display: none;
			}
		}
		input.form-control{
			border-right: none;
			&:last-child{
				border-radius: 4px 0 0 4px ;
			}
		}
		.dropdown-menu,
		.dropdown-toggle{
			img{
				height:18px;
				margin-right: 8px;
				vertical-align: middle;
			}
		}
		
		.phone-title{
			line-height: 25px;
			font-size: 13px;
			color: $white;
			background: $grey;
			margin-bottom: 5px;
			font-weight: 900;
			letter-spacing: 2px;
			@media (max-width: 768px) {
				display: none;
			}
		}
		.language-checkboxs{ 
			@media (max-width: 768px) {
				display: none;
			}
			span{
				color:#8f8f8f;
				display: inline-block;
				font-size: 18px;
				letter-spacing: -0.8px;
			}
		}
		#english{
			width:65px;
			height: 18px;
			border: 2px solid #959595;
			border-radius: 4px; 
			font-size: 12px;
			text-align: center;
		}
		.age{
			@media (max-width: 768px) {
				margin-top: 10px;
			}
			span{
				font-family:'Open Sans',Helvetica,Arial,sans-serif;
			}
		}
		.button{
			margin-top: 13px;
		}
	}
	.privacy{
		padding: 0 16px 26px;
		@media (min-width: 768px) {
			padding: 0 16px 16px;
		}
		a{	  
			color:#8f8f8f;
			font-size: 18px; 
			&:hover{
				color:#8f8f8f;
				text-decoration: underline;
			} 
		}
		p{
			color:#8f8f8f;
			font-size: 13px; 
			line-height: 1.2;
		}
	}
}

.consultants{
	@media (min-width: 768px) {
		border: 1px solid #000;
		background: $grayligten;
		border-radius:15px;
		padding: 22px 20px 0px;
	}
	.consultants-item{
		padding: 0 7px; 
		@media (min-width: 768px) and (max-width: 950px){
			flex-wrap: wrap;
		}
		@media (min-width: 768px) {
			display: flex;
			flex-direction: row-reverse; 
		}
		@media (max-width: 768px) {
			border-bottom: 12px solid #cccccc;
			max-width: 260px;
			margin: auto;
			text-align: center;
			padding: 25px 0 15px;
			margin-bottom: 15px;
		}
		.consultant-info, 
		.photo-wrap{
			@media (min-width: 992px) {
				display: table-cell;
	    		vertical-align: top; 
	    	}
		}
		.name{
			font-size: 24px;
			letter-spacing: -0.5px;
			color: #000;
			display: inline-block;
			margin-top: 5px;
			font-weight: 700;
			&.rcic{
				font-weight: 400;
				font-size: 20px;
			}
			&:hover{
				text-decoration: underline;
			}
			@media (max-width: 768px) {
				margin-top: 5px;
			}
		}
		.description{
			font-size: 14px;
			margin-top: 10px;
			line-height: 1.1;
			&.rcic{
				font-size: 20px;
				margin-top: 0px;
			}
			@media (min-width: 768px) {
				font-size: 12px;
			}
		}  
		.photo{
			display: inline-block;
			border-radius: 15px;
			border: 1px solid #000;
			height: 170px;
			width: 165px;
			background-position: 50%;
			background-size: cover;
			margin-right: 7px;
			@media (min-width: 768px) {
				height: 105px;
				width: 100px;
			}
		}
	} 
	.helper-text{
		text-align: center;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 900;
		// letter-spacing: 3.5px;
		// margin-top: 4px;
		    // line-height: 1.5;
		@media (max-width: 768px) {
			display: none;
		}
	}
}

.steps{
	margin: 10px 0px 15px;
	@media (max-width: 768px) {
		margin: 10px 0px 0px;
		&:after{
			content: '';
			display: block;
			width: 280px;
			height: 12px;
			background: #ccc;
			margin: 0 auto 20px; 
		}
		display: flex;
  		flex-direction: column-reverse;
	}
	@media (min-width: 768px) {
		border: 1px solid #000;
		border-radius: 15px;
		padding: 25px 10px 20px;
		margin: 40px 8px 15px;
	}
	&:after{
		content: '';
		display: table; 
		clear: both;
	}
	.step-2{
		@media (min-width: 992px) {
			max-width: 305px;
		}
	}
	.step-1,
	.step-3{
		@media (min-width: 992px) {
			max-width: 300px;
		}
	}
	.step{
		@media (min-width: 768px) {
			display: flex;
			flex-direction: row-reverse; 
		}
		@media (max-width: 768px) {
			margin-bottom: 30px; 
		}
		img{
			@media (max-width: 768px) {
				margin-bottom: 15px;
				height: 100px;
			}
			@media (min-width: 768px) {
				margin-right: 15px;
			}
		}
		.icon-wrap,
		.text{ 
			text-align: center;
			@media (min-width: 992px) {
				display: table-cell;
	    		vertical-align: top; 
	    	}
		}
		h3{
			font-weight: 300;
			font-size: 40px;
			text-transform: uppercase;
			margin: 0;
			line-height: 1.2;
			@media (max-width: 768px) {
				line-height: 1;
				font-size: 36px;
			}
			span{
				font-family:'Open Sans',Helvetica,Arial,sans-serif;
				font-weight: 700;	
			}
		} 
		.title-block{
			margin-bottom: 0;
			line-height: 1.2;
			@media (min-width: 768px) {
				font-size: 26px; 
				margin-bottom: 10px;
			}
			@media (max-width: 768px) {
				letter-spacing: 1px;
				margin-bottom: 12px;
				font-size: 32px;
			}
		}
		p:not(.title-block){
			max-width: 230px;
			margin: auto;
			line-height: 1.1;
			font-size: 20px;
			text-align: right;
			@media (max-width: 768px) {
				font-size: 25px;
			}
		}
	}
}
.steps-btn{ 
	@media (max-width: 768px) {
		// margin-top: 10px;  
	}
	@media (min-width: 768px) {
		display: none;
	}	
}
 
.benefits{ 
	max-width:407px;
	@media (min-width: 768px) {
		float: left;
	}
	@media (max-width: 768px) {
		margin:0 auto 22px;
	}
	.title-block{
		margin-bottom: 27px;
		@media (max-width: 768px) {
			margin-top: 5px;
			font-size: 48px;
		}
		@media (min-width: 768px) {
			margin-bottom: 30px;
		}
	}
	.benefits-item{
		background: $grayligten;
		border-radius: 10px;
		padding: 0 7px;
		min-height: 46px;
		display: table;
		width: 100%;
		@media (min-width: 768px) {
			padding: 0 15px;
		}
		&:not(:last-child){
			margin-bottom: 13px;	
		}
		img{
			float: left;
			margin-left: 5px;
			@media (min-width: 768px) {
				margin-left: 20px;
			}
		}
		p{
			font-size: 20px;
			line-height: 22px;
			vertical-align: middle;
			display: table-cell;
			width: 100%;
			@media (max-width: 768px) {
				letter-spacing: -0.9px;
			}
		}
	}
}

.why-used{
	@media (min-width: 768px) {
		padding-right: 65px;
	}
	@media (max-width: 768px) {
		max-width: 407px;
		margin: auto;
	}
	.title-block{
		margin-bottom: 20px; 
		@media (max-width: 768px) {
			margin-top: 10px;
			margin-bottom: 35px;
		}
	}
	.list{
		list-style: none;
		margin-left: 10px;
		padding: 0; 
		li{
			padding-right: 35px;
			position: relative;
			line-height: 1.2;
			font-size: 18px; 
			letter-spacing: -0.5px;
			@media (min-width: 768px) {
				padding-right: 43px;
				font-size: 21px; 
			}
			&:not(:last-child){
				margin-bottom: 30px;	
				@media (min-width: 768px) {
					margin-bottom: 22px;
				}
			}
			&:before{
				content: ''; 
				display: inline-block;
				width: 25px;
				height: 28px;
				background: url('../images/canada.png') no-repeat center;
				position: absolute;
				right: 0px;
				@media (max-width: 768px) {
					top: 50%;
					margin-top: -14px;
				}
				@media (min-width: 768px) {
					top:0;
				}
			} 
		}
	}
}


// footer 
footer{
	margin-top: 30px; 
	@media (min-width: 768px) {
		margin-top: 25px;
	} 
}
.copyright{
	padding: 25px 15px 10px;
	background: $grey;
	border-radius: 15px;
	text-align: center;
	margin: 0 0 17px;
	@media (min-width: 768px) {
 		padding: 18px 15px;
 		margin: 12px 0 17px;
	}
	p{
		max-width: 705px;
		margin: auto;
		color: $white;
		line-height: 1.6;
		font-style: italic; 
		font-size: 15px;
		@media (max-width: 768px) {
	 		margin-bottom: 23px;
		}
		br{
			@media (min-width: 768px) {
		 		display: none;
			}
		}
	}
} 
.secure-message{
	@media (min-width: 768px) {
		padding-top: 10px;
	}
	border-top:1px solid #000;
	&:after {
	    content: "";
	    display: table;
	    clear: both;
	}
	p{
		margin-top: 15px;
		display: inline-block; 
		font-style: italic;
		line-height: 1.2;
		font-size: 21px;
		@media (max-width: 768px) {
			padding: 0 15px;
			line-height: 1.5;
		}
		@media (min-width: 768px) {	
			width: calc(100% - 320px);
			max-width: 580px;
			float:left;
		}
	}
}
.secure-logos{
	@media (max-width: 768px) {
		max-width: 200px;
   		margin: 10px auto 16px; 
   		text-align: center;
   		margin-bottom: 16px;
	}
	@media (min-width: 768px) {
		float: right;
	}
}